<!DOCTYPE html>
<html lang="en">
  <%- include partials/_head %>
  <style>
      #map {
       height: 400px;
       width: 100%;
      }
  </style>
  <body>
    <% include partials/_navbar %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><%=map.map_name%></h1>
                <h3><%=map.map_description%></h3>
                <button id="modifyMap" type="button" class="btn btn-default">Update/Delete Map</button>
                <button id="like" type="button" class="btn btn-default">Like</button>
            </div>
        </div>
        <!-- google map -->
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>

        <!-- modal form to modify map -->
        <div class="row">
                <div id="modifyMapModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Modify Map</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="modifyMapName" class="control-label">Name: </label>
                                        <input type="text" class="form-control" id="modifyMapName">
                                    </div>
                                    <div class="form-group">
                                        <label for="modifyMapDescription" class="control-label">Description: </label>
                                        <input type="text" class="form-control" id="modifyMapDescription">
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button id="deleteMap" type="button" class="btn btn-danger">Delete Map</button>
                                <button id="updateMap" type="button" class="btn btn-primary">Update Map</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
        </div>


        <!-- modal form to add new pin-->
        <div class="row">
            <div id="addPinModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Create New Pin</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="addPinName" class="control-label">Name: </label>
                                    <input type="text" class="form-control" id="addPinName">
                                </div>
                                <div class="form-group">
                                    <label for="addPinDescription" class="control-label">Description: </label>
                                    <input type="text" class="form-control" id="addPinDescription">
                                </div>
                                <div class="form-group">
                                    <label for="addPinImage" class="control-label">Image URL: </label>
                                    <input type="text" class="form-control" id="addPinImage">
                                </div>
                                <div class="form-group">
                                    <label for="addPinLatitude" class="control-label">Latitude: </label>
                                    <input type="text" class="form-control" id="addPinLatitude">
                                </div>
                                <div class="form-group">
                                    <label for="addPinLongitude" class="control-label">Longitude: </label>
                                    <input type="text" class="form-control" id="addPinLongitude">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="addPinSave" type="button" class="btn btn-primary">Save Pin</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

        <!-- form to modify pins -->
        <div class="row">
                <div id="modifyPinModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Modify/Delete Pin</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="modifyPinID" class="control-label">ID: </label>
                                        <input type="text" class="form-control" id="modifyPinID" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="modifyPinName" class="control-label">Name: </label>
                                        <input type="text" class="form-control" id="modifyPinName">
                                    </div>
                                    <div class="form-group">
                                        <label for="modifyPinDescription" class="control-label">Description: </label>
                                        <input type="text" class="form-control" id="modifyPinDescription">
                                    </div>
                                    <div class="form-group">
                                        <label for="modifyPinImage" class="control-label">Image URL: </label>
                                        <input type="text" class="form-control" id="modifyPinImage">
                                    </div>
                                    <div class="form-group">
                                        <label for="modifyPinLatitude" class="control-label">Latitude: </label>
                                        <input type="text" class="form-control" id="modifyPinLatitude" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="modifyPinLongitude" class="control-label">Longitude: </label>
                                        <input type="text" class="form-control" id="modifyPinLongitude" disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button id="deletePin" type="button" class="btn btn-danger">Delete Pin</button>
                                <button id="updatePin" type="button" class="btn btn-primary">Update Pin</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>

    </div>
    <% include partials/_footer %>
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>

        initMap = () => {
            let map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: <%=map.map_latitude%>, lng: <%=map.map_longitude%>},
                zoom: 8
            });

            var mapId = Number(window.location.pathname.slice(6))

            $('#like').click((event) => {

              $.ajax({
                url: '/maps/<%=map.map_id%>/favor',
                method: "POST"
              }).done(function(response){
                if (response === 'like') {
                  alert('liked')
                }
                else {
                  alert('unliked')
                }
              }).fail(function(){
                alert(':(')
              })
            })
            // map modify/delete button click listener - shows modal
            $('#modifyMap').click((event) => {
                console.log('modify map!');
                // initialize modal form data
                $('#modifyMapName').val(`<%=map.map_name%>`);
                $('#modifyMapDescription').val(`<%=map.map_description%>`);
                // show modal
                $('#modifyMapModal').modal('show');
            });

            // map delete button listener (on modal)
            $('#deleteMap').click(() => {
                console.log('starting deletion for ' + <%=map.map_id%>);
                $.ajax({
                    url: '/maps/<%=map.map_id%>',
                    type: 'DELETE',
                }).done((resp) => {
                    console.log(resp);
                    alert("map deleted!");
                    window.location.href = "/maps/";
                }).fail((resp) => {
                    console.log(resp);
                    alert("FAILED TO DELETE PIN");
                });

                $('#modifyMapModal').modal('hide');
            });


            // map update button listener (on modal)
            $('#updateMap').click(() => {
                // prepare data object
                let data = {
                    map_name: $('#modifyMapName').val(),
                    map_description: $('#modifyMapDescription').val(),
                };
                // send post request to update map
                $.ajax({
                    url: '<%=map.map_id%>',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json'
                }).done((resp) => {
                    console.log(resp);
                    alert("map updated!");
                    window.location.href = "/maps/<%=map.map_id%>";
                }).fail((resp) => {
                    console.log(resp);
                    alert("FAILED TO ADD PIN");
                });
                $('#modifyPinModal').modal('hide');
            });

            // pin save button listener
            $('#addPinSave').click(() => {

                // prepare data object
                let data = {
                    pin_name: $('#addPinName').val(),
                    pin_description: $('#addPinDescription').val(),
                    pin_image: $('#addPinImage').val(),
                    pin_latitude: $('#addPinLatitude').val(),
                    pin_longitude: $('#addPinLongitude').val()
                };

                // send create pin put request
                $.ajax({
                    url: '<%=map.map_id%>/pins/new',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json'
                }).done((resp) => {
                    // set pin_id generated by database
                    data['pin_id'] = resp;
                    addMarker(data, map);
                }).fail((resp) => {
                    console.log(resp);
                    alert("FAILED TO ADD PIN");
                });
                // close modal
                $('#addPinModal').modal('hide');
            });

            // pin delete button listener
            $('#deletePin').click(() => {

                // send create pin put request
                let pin_id = $('#modifyPinID').val();

                console.log('starting deletion for ' + pin_id);

                $.ajax({
                    url: '<%=map.map_id%>/pins/' + pin_id,
                    type: 'DELETE',
                }).done((resp) => {
                    removeMarker(pin_id);
                }).fail((resp) => {
                    console.log(resp);
                    alert("FAILED TO DELETE PIN");
                });

                $('#modifyPinModal').modal('hide');
            });


            // pin update button listener
            $('#updatePin').click(() => {
                let pin_id = $('#modifyPinID').val();
                // prepare data object
                let data = {
                    pin_name: $('#modifyPinName').val(),
                    pin_description: $('#modifyPinDescription').val(),
                    pin_image: $('#modifyPinImage').val()
                };

                // send create pin put request
                $.ajax({
                    url: '<%=map.map_id%>/pins/' + pin_id,
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json'
                }).done((resp) => {
                    refreshMarker(pin_id);
                }).fail((resp) => {
                    console.log(resp);
                    alert("FAILED TO ADD PIN");
                });

                $('#modifyPinModal').modal('hide');

            });

            // map click listener - show modal to add pin
            map.addListener('click', (event) => {

                // get lat/lng
                let lat = event.latLng.lat();
                let lng = event.latLng.lng();

                // initialize modal form data
                $('#addPinName').val('');
                $('#addPinDescription').val('');
                $('#addPinImage').val('');
                $('#addPinLatitude').val(lat);
                $('#addPinLongitude').val(lng);

                // show modal
                $('#addPinModal').modal('show');

            });

            // get all pins and show on the map
            $.get('<%=map.map_id%>/pins', (resp) => {
                for(let key in resp) {
                    let pinData = resp[key];
                    addMarker(pinData, map);
                }
            });

        };

        let markers = {};

        // display marker on the map
        addMarker = (pinData, map) => {
            let icon = {
                url: pinData.pin_image,
                scaledSize: new google.maps.Size(40, 40)
            };
            let marker = new google.maps.Marker({
                position: {
                    lat: parseFloat(pinData.pin_latitude),
                    lng: parseFloat(pinData.pin_longitude)
                },
                label: pinData.pin_name,
                icon: icon,
                map: map
            });
            marker.addListener('click', (event) => {
                $('#modifyPinID').val(pinData.pin_id);
                $('#modifyPinName').val(pinData.pin_name);
                $('#modifyPinDescription').val(pinData.pin_description);
                $('#modifyPinImage').val(pinData.pin_image);
                $('#modifyPinLatitude').val(pinData.pin_latitude);
                $('#modifyPinLongitude').val(pinData.pin_longitude);
                $('#modifyPinModal').modal('show');
            });
            markers[pinData.pin_id] = {
                data: pinData,
                marker: marker
            };
        };

        // remove pin function
        removeMarker = (pin_id) => {
            markers[pin_id].marker.setMap(null);
            delete markers[pin_id];
        };

        // automatically refresh pin when pin is updated
        refreshMarker = (pin_id) => {
            $.ajax({
                    url: '<%=map.map_id%>/pins/' + pin_id,
                    type: 'GET',
                    contentType: 'application/json'
                }).done((resp) => {
                    console.log(resp);
                    let pinMap = markers[pin_id].marker.getMap();
                    removeMarker(pin_id);
                    addMarker(resp, pinMap);
                }).fail((resp) => {
                    console.log(resp);
                    alert("FAILED TO GET PIN INFO");
                });
        };

    </script>


    <!--<script type="text/javascript" src="/scripts/event_listeners.js"></script>-->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuw3H9Ze9hLg4XxnnJA6EpzPYs1CAK6qU&callback=initMap">
    </script>
  </body>
</html>
